.Pealeht {
	background-image:url("https://images.wallpaperscraft.com/image/mountains_silhouette_travel_123471_4608x2963.jpg");
	background-size: 100% 950px;
	background-repeat:no-repeat;
	background-attachment:fixed;
}

html, body  {
	text-align:justify;
	height: 100%;
        margin: 0;
        padding: 0;
}
@font-face{ font-family: Splatch; src: url("Splatch.ttf"); }

h1 {
	padding-top:60px;
	text-align:center;
} /*Et tuleks ülemise menüü kohalt välja  */
h2  {
	padding-left:2%;
  padding-top: 60px;
  font-size: 30px
}
h3 {
  font-family: Splatch;
  padding-right: 10px;
}
p   {
	color:black;
	padding-right:40%;
	padding-left:2%;
  font-size: 22px
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;/*Et liiguks scrollimisel kaasa*/
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 29px 18px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}/*Kui hiirega peal olla läheb tesit värvi*/

img  {
	width: 400px;
	/* Siin oli enne float: right; aga see teeb kaardi katki*/
	margin-left: 20px;
	padding-right:50px;
}
.active {
  background-color: #4CAF50;
}/*Näitab, mis lehel hetkel ollakse nö higlightitud*/

/*Google kaardi jaoks*/
/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
      float: left;
      height: 30%;
      margin-left: 20px;
      margin-top: 20px;
      width: 48%;
}

table {
  font-size: 12px;
}
.hotel-search {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 0;
  top: 0;
  width: 440px;
  z-index: 1;
}
#listing {
  margin-top: 20px;
  width: 10%;
  height: 30%;
  overflow: auto;
  left: 0px;
  top: 0px;
  cursor: pointer;
  overflow-x: hidden;
}
#findhotels {
  font-size: 16px;
}
#locationField {
  -webkit-box-flex: 1 1 190px;
  -ms-flex: 1 1 190px;
  flex: 1 1 190px;
  margin: 0 8px;
}
#controls {
  -webkit-box-flex: 1 1 140px;
  -ms-flex: 1 1 140px;
  flex: 1 1 140px;
}
#autocomplete {
  width: 100%;
}
#country {
  width: 100%;
}
.placeIcon {
  width: 20px;
  height: 34px;
  margin: 4px;
}
.hotelIcon {
  width: 24px;
  height: 24px;
}
#resultsTable {
  border-collapse: collapse;
  width: 240px;
}
#rating {
  font-size: 13px;
  font-family: Arial Unicode MS;
}
.iw_table_row {
  height: 18px;
}
.iw_attribute_name {
  font-weight: bold;
  text-align: right;
}
.iw_table_icon {
  text-align: right;
}
